<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Angular</title>
   <link rel="stylesheet" href="">
   <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
         display: none;
      }
   </style>
</head>
<body ng-app="app" ng-cloak ng-controller="appController as appCtrl">
   <header>
      <ul>
         <li ng-class="{active:appCtrl.linkIsActive(1)}" ng-click="appCtrl.activateLink(1)"><a ng-href="#/">Home</a></li>
         <li ng-class="{active:appCtrl.linkIsActive(2)}" ng-click="appCtrl.activateLink(2)"><a ng-href="#/contacts">Contacts</a></li>
         <li ng-class="{active:appCtrl.linkIsActive(3)}" ng-click="appCtrl.activateLink(3)"><a ng-href="#/about-me">About me</a></li>
      </ul>
   </header>
   <div id="main">
      <div ng-view></div>
   </div>

   <script src="bundle.js"></script>
</body>
</html>